/* 友链状态 */
.status-tag {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 3px;
    border-radius: 6px 0 12px 0;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    transition: font-size .3s ease-out, opacity .3s ease-out;
}

.flink-list-item:hover .status-tag {
    font-size: 0;
    opacity: 0;
}

.status-tag-green { background-color: #599e0b; }
.status-tag-light-yellow { background-color: #fed101; }
.status-tag-dark-yellow { background-color: #f0b606; }
.status-tag-red { background-color: #b90000; }

/* 雪花效果 */
.snowflake-container {
    position: fixed;
    width: 15px;
    height: 15px;
    top: -15px;
    left: 50%;
    z-index: 15;
    pointer-events: none;
    animation: fall 13s linear forwards;
}

.snowflake {
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.amiracle.site/Snow-Flake-PNG.png');
    background-size: cover;
    opacity: 0.8;
    animation: rotate 10s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110vh);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 一图流 */
body[data-type="anzhiyu"] #web_bg {
    /* --anzhiyu-background: url('https://cdn.amiracle.site/%E8%AF%BE%E4%B8%8A%E7%9A%84Gura.jpg'); */
    /* filter: blur(0.5px) brightness(0.75); */
    /* filter: blur(0.2px); */
    /* width: 125%; */
    /* height: 125%; */
    /* top: -20%; */
    /* left: -10%; */
    /* transform: rotate(0deg); */

    --anzhiyu-background: url('https://cdn.amiracle.site/2026%E6%96%B0%E5%B9%B4%E5%BF%AB%E4%B9%90.png');
    width: 120%;
    height: 120%;
    top: -20%;
    left: -10%;
    transform: rotate(0deg);

}
/* 移动端适配 */
@media (max-width: 768px) {
    body[data-type="anzhiyu"] #web_bg {
        --anzhiyu-background: url('https://cdn.amiracle.site/sharkGura.jpg');
        filter: blur(0.3px) brightness(1);
        top: -12.5%;
        left: -12%;
        width: 125%;
        height: 125%;
    }
}
/* 头图透明 */
body[data-type="anzhiyu"] #page-header {
    background: transparent !important;
}
/* 页脚透明 */
body[data-type="anzhiyu"] #footer {
    background: transparent !important;
}
/* 底部透明 */
body[data-type="anzhiyu"] #footer-bar{
background: transparent !important;
}
/* 添加卡片透明 */
body[data-type="anzhiyu"] {
    --anzhiyu-card-bg: rgba(255, 255, 255, 0.93);
}

/* 调整首页卡片 */
#recent-posts .recent-post-info {
    height: 130px !important;
}
#recent-posts .article-meta-wrap {
    top: 102px !important;
}
